html, body{
    margin: 0%;
}
header{
    background: black;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    
}
#logo{
    width: 75px;
    position: absolute;
    top: 3%;
    
    }
#menu{
    float: right;
    margin-right: 5px;
    list-style: none;
    border: 20%;
}
li{
    float: left;
    padding: 2%;
}
li:hover{
    background: rgb(172, 172, 76);
}

.fundo{
    background:url(/imagem/porco.jpg);
    height: 400px;
    text-align: center;
    }
#titulo{
    color: rgb(16, 228, 69);
    padding-top: 6%;
    font-size: 350%;
}
#subtitulo{
    color: rgb(230, 234, 240);
  }
h3{
    color: rgb(222, 233, 221);
   padding-left: 10%; 
   padding-right: 10%;
}
#onça{
    padding: 5%;
}
#seção1{
    background: #f7f7f7
}
h2{
margin: 2%;
text-align: center;
}
p{
text-align: justify;
margin-right: 5%;
margin-left: 5%;
}
   